html {
  background-image: url("../img/cork-board.jpg");
  background-size: cover;
}

.parent {
  height: 825px;
  width: 768px;
  position: relative;
  margin: auto;
  top: 130px;

}

.polaroid {
  position: absolute;
  display: block;
}

.kitten-photo {
  position: absolute;
  top: 115px;
  left: 131px;
  display: block;
  height: 640px;
  width: 640px;

}

.pin {
  position: absolute;
  top: -80px;
  left: 250px;
}

/*.container {
  content:
}*/
